!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title Innego - Verbeteren - Trainen - Coachen
    %meta{:content => "Awesome Description Here", :name => "description"}/
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/

    %meta{:content => "Innego - Verbeteren - Trainen - Coachen", :property => "og:title"}/
    %meta{:content => "//innego-site.netlify.com/images/innego_logo.png", :property => "og:image"}/
    %meta{:content => "Description that will show in the preview", :property => "og:description"}/
    %meta{:content => "//innego-site.netlify.com", :property => "og:url"}/

    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800", :rel => "stylesheet"}/
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{src:"https://use.fontawesome.com/releases/v5.0.8/js/all.js"}
    %script{src: "https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"}
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Middleman"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"

  = partial "layouts/base/nav", :locals => {:position => "fixed transparent"}
  %body
    = yield
    = partial "layouts/base/nav", :locals => {:position => "footer"}
