!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title Innego - Verbeteren - Trainen - Coachen
    %meta{:content => "Awesome Description Here", :name => "description"}/
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/

    %meta{:content => "Innego - Verbeteren - Trainen - Coachen", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "https://innego-site.netlify.com/images/uploads/meta.png", :property => "og:image"}/
    %meta{:content => "Innego maakt bedrijfsprocessen beter, door mensen beter te maken. Met een focus op performance management en leiderschap.", :property => "og:description"}/
    %meta{:content => "https://innego-site.netlify.com", :property => "og:url"}/

    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#da532c", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/

    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800", :rel => "stylesheet"}/
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{src:"https://use.fontawesome.com/releases/v5.0.8/js/all.js"}
    %script{src: "https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"}
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Middleman"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"

  = partial "layouts/base/nav", :locals => {:position => "fixed transparent"}
  %body
    = yield
    = partial "layouts/base/nav", :locals => {:position => "footer"}
