%section.hero{:style => "background-image: url('#{data.hero.background.sub("/source", "")}')"}
  .page-width
    .content
      %h1= data.hero.title
      %p.subtitle= data.hero.intro
      %a.cta{:href => "#contact"}= data.hero["cta-text"]
  .scroll-down
    .mouse
      .scroll-wheel
    .arrow-down
    .arrow-down

%section.services{:id => data.services.title}
  .page-width
    %h2= data.services.title
    %p.subtitle=data.services.intro
    .cards
      - data.services.service.each do |s|
        .service.card{:style => "background-image: url('#{s.image.sub("/source", "")}')"}
          %h3= s.title
          %p= s.intro
          = partial "layouts/components/popup",:locals => { :service => s }

%section.about{:id => data.about.title}
  .left
    .content
      %h2= data.about.title
      %p.subtitle= data.about.intro
      - data.about.content.each do |content|
        %h3= content.title
        %p= content.content
  .right{:style => "background-image: url('#{data.about.largeimg.sub("/source", "")}')"}
    .reference
      .author-img{:style => "background-image: url('#{data.about["reference-image"].sub("/source", "")}')"}
      .content
        %p= data.about["reference-text"]
        %span.name= data.about["reference-author"]
        %span.title= data.about["reference-author-title"]

%section.projects{:id => data.projects.title}
  .page-width
    %h2= data.projects.title
    %p.subtitle=data.projects.intro
    .projects
      - data.projects.project.each do |project|
        .project
          %div
            %h4= project.title
            %p= project.content
          %div{:style => "background-image: url('#{project.image}')"}

%section.references{:id => data.references.title}
  .page-width
    %h2= data.references.title
    %p.subtitle= data.references.intro
    .cards
      - data.references.reference.each do |r|
        .reference.card
          .card-header{:style => "background-image: url('#{r["background-image"].sub("/source", "")}')"}
            %blockquote
              = r.content
          .card-body
            %div{:style => "background-image: url('#{r["author-image"].sub("/source", "")}')"}
            %p.autor-name= r["author-name"]
            %p.autor-title= r["author-title"]




