-# %section.hero{:style => "background-image: url('#{data.hero.background.sub("/source", "")}')"}
-#   .page-width
-#     .content
-#       %h1= data.hero.title
-#       %p.subtitle= data.hero.intro
-#       %a.cta.menu-link{:href => "#contact"}= data.hero["cta-text"]
-#   .scroll-down
-#     .mouse
-#       .scroll-wheel
-#     .arrow-down
-#     .arrow-down
-# - data.services.service.each do |s|
-#   = partial "layouts/components/popup",:locals => { :service => s }
-# %section.services{:id => data.services.title}
-#   .page-width
-#     %h2.scroll-reveal= data.services.title
-#     %p.subtitle.scroll-reveal=data.services.intro
-#     .cards
-#       - data.services.service.each do |s|
-#         .service.card.scroll-reveal{:style => "background-image: url('#{s.image.sub("/source", "")}')"}
-#           %h3= s.title
-#           %p= s.intro
-#           - if !s.content.empty?
-#             %a.btn{"data-popup-open" => s.title, :href => "#"} Lees meer

-# %section.about{:id => data.about.title}
-#   .left
-#     .content
-#       %h2.scroll-reveal= data.about.title
-#       %p.subtitle.scroll-reveal= data.about.intro
-#       - data.about.content.each do |content|
-#         - if content.title
-#           %h5.scroll-reveal= content.title
-#         %p.scroll-reveal= content.content
-#   .right{:style => "background-image: url('#{data.about.largeimg.sub("/source", "")}')"}
-#     .reference
-#       .author-img{:style => "background-image: url('#{data.about["reference-image"].sub("/source", "")}')"}
-#       .content
-#         %p= data.about["reference-text"]
-#         %span.name= data.about["reference-author"]
-#         %span.title= data.about["reference-author-title"]

-# -# %section.projects{:id => data.projects.title}
-# -#   .page-width
-# -#     %h2.scroll-reveal= data.projects.title
-# -#     %p.subtitle.scroll-reveal=data.projects.intro
-# -#     .projects
-# -#       - data.projects.project.each do |project|
-# -#         .project.scroll-reveal
-# -#           .content
-# -#             %h4= project.title
-# -#             %p= project.content
-# -#           .image{:style => "background-image: url('#{project.image}')"}

-# %section.references{:id => data.references.title}
-#   .page-width
-#     %h2.scroll-reveal= data.references.title
-#     %p.subtitle.scroll-reveal= data.references.intro
-#     .cards-container
-#       .next-reference.fas.fa-arrow-circle-right
-#       .previous-reference.fas.fa-arrow-circle-left
-#       .cards
-#         - data.references.reference.shuffle.each do |r|
-#           .reference.card.scroll-reveal
-#             .card-header{:style => "background-image: url('#{r["background-image"].sub("/source", "")}')"}
-#               .overlay
-#               %blockquote
-#                 %span{class: "fas fa-quote-left"}
-#                 = r.content
-#             .card-body
-#               .avatar{:style => "background-image: url('#{r["author-image"].sub("/source", "")}')"}
-#               %p.author-name= r["author-name"]
-#               %p.author-title= r["author-title"]
-#               .author-logo{:style => "background-image: url('#{r["author-logo"].sub("/source", "")}')"}
-#       .bullets


%section.contact{:id => "Contact"}
  .overlay
  .page-width
    .contact-container
      .contact-details
        %h3= data.contact.title
        .details
          .company-details
            %p.company= data.contact["company-name"]
            %img{src: data.contact["company-logo"].sub("/source", "")}
            %p.address= data.contact["company-address"]
            .phone
              %span{class: "fas fa-phone"}
              %a{href: "tel:#{data.contact["phone"]}" }= data.contact["phone"]
            .email
              %span{class: "fas fa-envelope"}
              %a{href:"mailto:#{data.contact["email"]}"}= data.contact["email"]
          .linkedin
            .linkedin-details
              .avatar{:style => "background-image: url('#{data.contact["avatar"].sub("/source", "")}')"}
              .matthijs
                %p.name Matthijs Plat
                %p.job-description= data.contact["job-description"]
            %a.linkedin-button{href: "https://www.linkedin.com/in/matthijsplat/"}
              %span{class: "fab fa-linkedin-in"}
              Bekijk LinkedIn profiel

      -# .contact-form
      -#   %form{ name: "contact", method: "POST", data: {netlify: "true"}}
      -#     .input-container
      -#       %span{class: "fas fa-user"}
      -#       %input{type: "text", placeholder: "Naam", name: "name"}
      -#     .input-container
      -#       %span{class: "far fa-envelope"}
      -#       %input{type: "email", placeholder: "Email adres", name: "email" ,required: true}
      -#     .input-container
      -#       %span{class: "fas fa-phone"}
      -#       %input{type: "tel", placeholder: "Telefoonnummer", name: "number"}
      -#     .textarea-container
      -#       %span{class: "fas fa-pencil-alt"}
      -#       %textarea{placeholder: "Bericht", name: "bericht"}
      -#     %button.success{type: "submit"}
      -#       Verstuur bericht








