%section{:style => "background-image: url('#{data.hero.background}')"}
  .page-width
    %h1= data.hero.title
    %p.subtitle=data.hero.intro
    %span.cta=data.hero["cta-text"]

%section{:id => data.services.title}
  .page-width
    %h2= data.services.title
    %p.subtitle=data.services.intro

    - data.services.service.each do |s|
      .service
        %h3= s.title
        %p= s.content

%section{:id => data.about.title}
  .page-width
    %div
      %h2= data.about.title
      %p.subtitle= data.about.intro
      %p= data.about.content2
    %div{:style => "background-image: url('#{data.about.largeimg}')"}
      .reference
        = image_tag "banner1.jpg"
        %img{:src => data.about["reference-image"]}
        %p= data.about["reference-text"]
        %span= data.about["reference-author"]
        %span= data.about["reference-author-title"]

%section{:id => data.projects.title}
  .page-width
    %h2= data.projects.title
    %p.subtitle=data.projects.intro

    - data.projects.project.each do |project|
      .project
        %div
          %h3= project.title
          %p= project.content
        %div{:style => "background-image: url('#{project.image}')"}

%section{:id => data.references.title}
  .page-width
    %h2= data.references.title
    %p.subtitle= data.references.intro

    - data.references.reference.each do |r|
      .project
        %div{:style => "background-image: url('#{r["background-image"]}')"}
          %blockquote
            = r.content
        %div{:style => "background-image: url('#{r["author-image"]}')"}
        %span= r["author-name"]
        %span= r["author-title"]




